[Unit]
Description=Aether Daily Wallpaper Timer
Requires=aether-daily-wallpaper.service

[Timer]
OnCalendar=daily
OnBootSec=2min
Persistent=true
AccuracySec=10min

[Install]
WantedBy=timers.target
